@value sm from '../../breakpoints.css';
/* @value md from '../../breakpoints.css';
@value lg from '../../breakpoints.css'; */

.root {
  @apply min-h-screen;
  @apply text-center;
  background-color: #efefef;
}

@media sm {
  .root {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
  }
}

.wrapper {
  @apply relative;
  @apply w-full;
  @apply p-4;
}

@media sm {
  .wrapper {
    @apply p-0;
  }
}

.box {
  @apply mx-auto;
  @apply p-6;
  @apply text-left;
  background-color: #fff;
  color: #666666;
}

@media sm {
  .box {
    max-width: 36rem;
  }
}

.header {
  @apply pb-3;
}

.title {
  @apply text-4xl;
  @apply font-bold;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media sm {
  .main {
    flex-direction: row;
  }
}

.column {
  flex-basis: 50%;
  @apply text-sm;
}

.columnLeft {
  composes: column;
}

@media sm {
  .columnLeft {
    @apply mr-2;
  }
}

.columnRight {
  composes: column;
  @apply mt-6;
  background-color: #efefef;
}

@media sm {
  .columnRight {
    @apply mt-6;
    @apply ml-2;
  }
}

.inputSharing {
  @apply w-full;
  @apply p-2;
  @apply text-sm;
  background-color: #f5f5f5;
}

.feed {
}

.feedHeader {
  @apply px-3;
  @apply py-2;
  @apply font-extrabold;
  background-color: #efefef;
}

.feedFooter {
  @apply py-1;
  @apply px-2;
  @apply text-right;
  background-color: #efefef;
}

.feedRows {
}

@media sm {
  .feedRows {
    max-height: 143px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.feedRow {
  @apply relative;
  @apply px-3;
  @apply py-2;
  @apply pl-10;
  @apply leading-4;
}

.feedRow:nth-child(even) {
  background-color: #efefef;
}

.feedRow:nth-child(odd) {
  background-color: #f7f7f7;
}

.feedEmoji {
  @apply text-2xl;
  @apply ml-2;
  @apply absolute;
  @apply left-0;
  top: 50%;
  transform: translateY(-50%);
}
