@value sm from '../../breakpoints.css';

.root {
  @apply min-h-screen;
  @apply text-center;
  background-color: #efefef;
}

@media sm {
  .root {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
  }
}

.wrapper {
  @apply relative;
  @apply w-full;
  @apply p-4;
}

@media sm {
  .wrapper {
    @apply p-0;
  }
}

.box {
  @apply mx-auto;
  @apply p-6;
  @apply text-left;
  background-color: #fff;
  color: #666666;
}

@media sm {
  .box {
    max-width: 36rem;
  }
}

.header {
  @apply pb-3;
}

.title {
  @apply text-4xl;
  @apply font-bold;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media sm {
  .main {
    flex-direction: row;
  }
}

.column {
  flex-basis: 50%;
  width: 50%;
  @apply text-sm;
}

.columnLeft {
  composes: column;
}

@media sm {
  .columnLeft {
    @apply mr-2;
  }
}

.columnRight {
  composes: column;
  @apply mt-6;
  background-color: #efefef;
}

@media sm {
  .columnRight {
    @apply mt-6;
    @apply ml-2;
  }
}
