@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* Base size REM approach for font-sizing and sizing in general */
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
